/* ===== Start App.js ===== */

.app {
  background-color: #f0f0f0;
}

/* ===== End App.js ===== */

/* ===== Start StudentCard.js ===== */

.student-card {
  width: 100%;
  height: auto;
}

.student-container-container {
  padding: 16px 24px;
}

/* ===== End StudentCard.js ===== */
