/* ===== Start App.js ===== */

.app {
  background-color: #f0f0f0;
}

/* ===== End App.js ===== */

/* ===== Start StudentCard.js ===== */

.student-card {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f9f9f9;
}

.student-card-container {
  display: flex;
  padding: 16px 24px;
}

.student-card-image-container {
  height: 100%;
}

.student-card-image-container img {
  width: 100px;
}

.student-card-details-name {
  font-size: 1.6rem;
}

/* ===== End StudentCard.js ===== */
