/* ===== App.js ===== */

.App {
  background-color: #f0f0f0;
  height: 100vh;
  width: 100vw;
}

/* ===== StudentContainer.js ===== */

.student-container {
  width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  border-radius: 8px;
  background-color: #ffffff;
  overflow-y: scroll;
}

.student-inner-container {
}

/* ===== SearchBar.js ===== */

.searchbar-container {
  border-radius: 8px 8px 0 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.searchbar {
  max-height: 54px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.searchbar-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c7c7c7;
  color: #c7c7c7;
  width: 94%;
  padding: 14px 18px;
  font-size: 1.8rem;
}

.searchbar-input:focus {
  border-bottom: 1px solid #000000;
}

/* ===== StudentList.js ===== */

.student-list {
  height: 100%;
}

/* ===== StudentCard.js ===== */

.student-card {
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid #c7c7c7;
  background-color: #ffffff;
}

.hide {
  display: none;
}

.student-card-container {
  display: flex;

  justify-content: space-between;
  height: 100%;
  padding: 16px 24px;
}

.student-card-image-container {
  height: 100%;
  width: 22%;
}

.student-card-image-container img {
  border-radius: 50%;
  border: 1px solid #c7c7c7;
}

.student-card-details-container {
  width: 75%;
}

.student-card-details-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-card-details-button {
}

.student-card-details-name {
  font-size: 3.2rem;
}

.student-card-details-text-container {
  margin-top: 68x;
  margin-left: 30px;
}

.student-card-details-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 4px;
}

.student-card-bottom-container {
  display: none;
  padding: 10px 0;
  margin-left: 30px;
}

.show {
  display: block;
}

.grades-list {
}

/* ===== Tags.js ===== */

.tag-section {
  padding: 20px 0 12px;
  margin-left: 30px;
}

.tag-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #c7c7c7;
  font-size: 1.8rem;
  color: #c7c7c7;
}

.tag-input:focus {
  border-bottom: 1px solid #000000;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.tag {
  margin-right: 6px;
  margin-bottom: 6px;
  background: #c7c7c7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 8px 16px;
  min-width: 30px;
  min-height: 20px;
}

/* ===== Button.js ===== */

.button {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #c7c7c7;
  font-weight: 700;
  font-size: 4rem;
  font-weight: 700;
}

.button:hover {
  color: #000000;
}

.button:focus {
  color: #000000;
}
